<footer class="oleez-footer wow fadeInUp">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/mycloset_logo.png" alt="oleez" class="footer-logo">
          <p class="footer-intro-text">Tell us the brands you like!
            <br>So we know what to add next.
          </p>
          <p>shop.my.closet.v1 @ gmail.com</p>
        </div>

      </div>
    </div>
    <div class="footer-text">
      <p class="mb-md-0"></p>
      <p class="mb-0">Made by Doreen</p>
    </div>
  </div>
</footer>
